:root {

    /* Background */
    --background-default: #F5F4F0;

    /* Border */
    --border-primary: #D9D9D9;

    /* Text */
    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #E1624F;

    /* Accent */
    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--background-default);
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: var(--text-primary);
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: var(--text-primary);
}

h3 {
    font-size: 28px;
    font-weight: bold;
    color: var(--text-primary);
}

.headline {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-headline);
}

p {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-secondary);
}

.subtitle {
    font-size: 16px;
    font-style: italic;
    color: var(--text-secondary);
}

.accent-blue {
    color: var(--accent-blue);
}

.accent-orange {
    color: var(--accent-orange);
}

.accent-pink {
    color: var(--accent-pink);
}

.accent-purple {
    color: var(--accent-purple);
}

.bold{
    font-weight: bold;
}

li::marker{
    color: var(--text-secondary);
}