:root {

    /* Background */
    --background-default: #F5F4F0;

    /* Border */
    --border-primary: #D9D9D9;

    /* Text */
    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #E1624F;

    /* Accent */
    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;
}

/* Cores e Estilos de Fonte */

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--background-default);
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: var(--text-primary);
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: var(--text-primary);
}

h3 {
    font-size: 28px;
    font-weight: bold;
    color: var(--text-primary);
}

.headline {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-headline);
}

p {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-secondary);
}

.subtitle {
    font-size: 16px;
    font-style: italic;
    color: var(--text-secondary);
}

.accent-blue {
    color: var(--accent-blue);
}

.accent-orange {
    color: var(--accent-orange);
}

.accent-pink {
    color: var(--accent-pink);
}

.accent-purple {
    color: var(--accent-purple);
}

.bold{
    font-weight: bold;
}

li::marker{
    color: var(--text-secondary);
}

hr{
    color: var(--border-primary);
    font-weight: 1px;
}

footer{
    font-family: 'Alice', serif;
    color: var(--text-secondary);
}

/* Formatação das Imagens */

#main-header img{
    width: 1120px;
    height: 660px;
    border-radius: 28px;
}

article img{
    width: 1120px;
    height: 350px;
    border-radius: 28px;
    object-fit: cover;
}

#Image_04{
    object-position: 50% 85% ;
}

/* Alinhamento */

body{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column
}

#container{
    width: 1120px;
}

/* Margens e Paddings */

h1, h3{
    margin: 0;
}

#container{
    margin-bottom: 65px;
    margin-top: 88px;
}

header .headline{
    margin-bottom: 8px;
}

.img-header{
    margin: 40px 0;
}
.img-header img{
    margin-bottom: 24px;
}

.section-header{
    margin-top:64px;
    margin-bottom: 16px;
}

.section-header h2{
    margin-top: 2px;
    margin-bottom: 8px;
}

article{
    margin-top: 48px;
}
article img{
    margin-bottom: 20px;
}

.section-break{
    margin: 40px 0;
}

footer{
    margin-bottom: 48px;
}

#main-header .subtitle, main footer{
    text-align: center;
}